
:root {
    /* Colors */
    --background-main: rgb(237, 237, 237);
    --background-header: rgb(12, 12, 97);
    
    --text-logo: 'Righteous', cursive;
    --text-logo-orange: rgb(232, 82, 23);
    --text-main: var(--background-header);
  }

  #contractorJobs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #contractorTitle {
      font-size: 50px;
  }

  #newJobButton {
      margin: 0 0 20px 0;
      font-size: 30px;
  }

/**********************/
/* Job Card component */
/**********************/

#jobCardsHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95%;
    border: 5px solid var(--text-logo-orange);
    margin: 0 0 20px 0;
    border-radius: 10px;
}

.jobCard {
    background-color: var(--background-header);
    width: 95%;
    border-radius: 5px;
    color: var(--background-main);
    text-align: center;
    font-size: 30px;
    margin: 10px;
}

.jobCardBottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.jobCardBottom p {
    padding: 0 50px;
}
