:root {
    /* Colors */
    --background-main: rgb(237, 237, 237);
    --background-header: rgb(12, 12, 97);
    
    --text-logo: 'Righteous', cursive;
    --text-logo-orange: rgb(232, 82, 23);
    --text-main: var(--background-header);
  }

/***************************************/
/* Contractor/Worker Registration Form */
/***************************************/
.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--text-logo-orange);
    border-radius: 10px;
    padding: 20px;
    margin: 0 0 30px 0;
}

label {
    margin: 10px;
    font-size: 30px;
}

input {
    width: 400px;
    margin: 10px;
    font-size: 30px;
}

button {
    height: 50px;
    width: 408px;
    font-size: 30px;
    font-family: var(--text-logo);
    color: var(--background-main);
    background-color: var(--background-header);
    border-radius: 10px;
}

button:hover {
    color: var(--text-logo-orange);
    cursor: pointer;
}
