:root {
    /* Colors */
    --background-main: rgb(237, 237, 237);
    --background-header: rgb(12, 12, 97);
    
    --text-logo: 'Righteous', cursive;
    --text-logo-orange: rgb(232, 82, 23);
    --text-main: var(--background-header);
  }

/********************************/
/* Contractor Registration Form */
/********************************/
.registrationForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formTitle {
    font-size: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid var(--text-logo-orange);
    border-radius: 10px;
    padding: 20px;
}

label {
    margin: 10px;
    font-size: 30px;
}

input {
    width: 400px;
    margin: 10px;
    font-size: 30px;
}


/****************************/
/* Worker Registration Form */
/****************************/